<%= form_with model: task do |form| %>

  <div class="field">
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
    <!-- タイトル入力のバリーデーション自体は機能しているが、エラーメッセージが表示されない。 -->
  </div>

  <div class="field">
    <%= form.label :タスク内容 %><br>
    <textarea name="content"><%= task.content %></textarea>
  </div>
  
  <div class="field">
    <%= form.label :ステータス %><br>
    <textarea name="content"><%= task.status %></textarea>
  </div>
  
  <!-- 「日時の入力済み内容」を引き継ぎする書き方が不明。 -->
  <div class="field">
    <%= form.label :期日 %><br>
    <%= form.datetime_field :deadline_at %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>

<% end %>