<%= form_with model: task do |form| %>

  <div class="field">
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
    <% if @task.errors.any? %>
      <%= @task.errors.messages[title][0] %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :タスク内容 %><br>
    <%= form.text_field :content %>
  </div>
  
  <div class="field">
    <%= form.label :ステータス %><br>
    <%= form.select :status, Task.status.options %>
  </div>
  
  <div class="field">
    <%= form.label :期日 %><br>
    <%= form.datetime_field :deadline_at %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>

<% end %>