<%= form_with model: task do |form| %>

  <div class="field">
    <%= form.label :タイトル %><br>
    <%= form.text_field :title %>
    <!-- タイトル入力のバリーデーション自体は機能しているが、エラーメッセージが表示されない。 -->
  </div>

  <div class="field">
    <%= form.label :タスク内容 %><br>
    <%= form.text_field :content %>
  </div>
  
  <div class="field">
    <%= form.label :ステータス %><br>
    <%= form.select(:status, [["未着手"], ["進行中"], ["完了"], ["中止"], ["保留", ]]) %>
  </div>
  
  <div class="field">
    <%= form.label :期日 %><br>
    <%= form.datetime_field :deadline_at %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>

<% end %>