<h1>タスク管理アプリ（一覧画面）</h1>

<p>
  <%= link_to "新規作成", new_task_path %>
</p>

<%= search_form_for @search do |f| %>
  <%= f.label :title_cont, "タイトル検索" %>
  <%= f.search_field :title_cont %><br>
  <%= f.label :task_id_eq, "ステータス検索" %>
  <%= f.collection_select(:status, @tasks, :id, :status, :include_blank => "指定なし") %>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>


<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>タスク内容</th>
      <th>ステータス</th>
      <th>期日</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline_at %></td>
        <td>
          <%= link_to "詳細", task %>
          <%= link_to "編集", edit_task_path(task) %>
          <%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
